<div class="legal faq row">
  <div class="col-md-8 col-md-offset-2">
  <%=logo :large%>
  <h1>Frequently Asked Questions</h1>
  <ul>
    <li>What can you do on your site?
      <p>
	You are able to transfer money between people. These transfers can
	be immediate, or they can depend upon mutually agreed upon event
	occuring.
      </p>
    </li>
    <li>What types of transfers are offered?
      <p>
	You may <em>send</em> money to or <em>request</em> money from someone.
      </p>
      <p>
	You may <em>pledge</em> money to someone that depends on them
	completing some task such as "I pledge $3 to Bob if he runs
	in the 5k on Saturday." He will collect $3 if runs the
	race, but there is no penalty if he does not.
      </p>
      <p>
	You <em>bet</em> someone that they will complete some task such as "I
	bet Suzy $3 that she won't run in the 5k on Saturday." She will collect
	$3 if runs the race, and owes you $3 if she does not.
      </p>
    </li>
    <li>Isn't this a gambling site?
      <p>No, it is not. We allow users to post "conditional performance
	contracts with penalties". If they successfuly complete the task, they
	receive money, otherwise they pay. Since "condition performance
	contract with penalty" is a mouthful, we use a more friendly term: bet.
      </p>
      <p>
	Our bets are motivational. Bet your friend they won't go to the gym
	this week. Bet your room mate that you will pass your history exam.
	Bet your brother he can't eat all of the gigantic super burrito.
      </p>
    </li>
    <li>Can I post a bet on tonights baseball game with my buddy?
      <p>
	Not on our site. You can not bet on sporting events, elections, or
	other outcomes not under some control of the participants. Such postings
	are against the terms of service and we will close your and your buddy's
	account.
      </p>
    </li>
    <li>Who arbitrates the bets and pledges?
      <p>There are no external arbitrers. Both participants must agree on the
	outcome.</p>
    </li>
    <li>How do you move money from me to my friend?
      <p>
	We use a payment gateway for processing fund transfers. Paypal is our
	current payment gateway.
      </p>
    </li>
    <li>What are your fees?
      <p>We charge no fees to use our site. The payment gateway may impose
	some fees depending upon payment source.  Paypal transfers are free if
	made with a Paypal balance, while transfers from credit cards will
	incure a charge. You are responsible for such charges and fees.
      </p>
    </li>
  </ul>
  </div>
</div>
