$color-first: #34ad00;
$color-second: #2b8f00;
$color-third: #81944B;

$color1: $color-first;
$color2: $color-second;
$color3: $color-third;
$button-color: $color1;
$button-hover-color: $color2;

$color-bg: #FFF;

$text-color: #000;
$color-text: #000;
$color-error: #F00;

$text-hover-color: #777;
$button-text-color: #FFF;
$footer-text-color: #FFF;
$footer-text-hover-color: #AAA;
$error-text-color: #F00;

$color-text-rev: #FFF;
$color-text-hover-rev: #333;
$color-hr: #ccc;
$color-dashboard-border: #c0c0c0;

$bg-color: #FFF;
$color-bg: #FFF;

$color-btn-info: #34ad00;
$color-btn-info-active: #2b8f00;
$color-button-text: #FFF;