<h1>Welcome to Bet A Buck</h1>
<p>
Please validate your email address by clicking on the link below:
</p>
<% x = validate_users_url(:key=>@user.validation.key) %>
<%= link_to x, x %>
<p>
Sincerely,
</p>
<p>
Bet A Buck Support Team

