<div class="modal fade" id="settlement_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidd
en="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Settle Up!</h4>
      </div>
      <p>You have some people to pay. Click on the link below to pay them.</p>
      <%= payment_approval_button %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
