<div class=row>
  Member for <%=@user.membership_time_str%>
</div>
<% if @user.id == session[:user_id] %>
  <div class=row>
    <%= edit_profile_button @user %>
  </div>
<% end %>

<div class=row>
  <%= render :partial=>"transfer_list"%>
</div>

