payload = "<div class='well'><%=@notice%></div>"
<% if @ok -%>
click_tgt = $("#password_form > a")
if (click_tgt.size()>0) {
  click_tgt.click()
}
$("#password_form input[type=password]").each(function(idx,elem){
  $(elem).val("")
})
<% end -%>
tgt = $("#password_form .well")
if (tgt.size() == 0) {
  $("#password_form").append(payload)
} else {
  tgt.replaceWith(payload)
}

<% if @ok && params[:source]=="change_password" -%>
$("#password_form input[type=password]").each(function(idx,elem){
  $(elem).attr("disabled", "disabled")
})
$("#password_form input[type=submit]").attr("disabled", "disabled")
<% path = escape_javascript dashboard_user_path(@user)-%>
setTimeout(function(){window.location="<%=path%>"}, 3000)
<% end -%>
