<div class="modal fade" id="invitation_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidd
en="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Send Invitation To</h4>
      </div>
      <%= render "invitations/form_modal" %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
