/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "scss/colors";

#error_explanation {
    background-color: $color-bg;
    border-color: $color-bg;
    color: $color-error;
    width: auto;
}
.field_with_errors {
  display: block;
  border-radius: 4px;
}

.row {
    margin-bottom: 3%;
}
header {
    .row {
	margin-bottom: 0px;
    }
}
.btn-info,.btn-info:visited {
    background-color: $color-btn-info;
    border-color: $color-btn-info;
    color: $color-button-text
}
.btn-info:active,.btn-info:hover {
    background-color: $color-btn-info-active;
    border-color: $color-btn-info-active;
    color: $color-button-text
}
.logo-small {
    width: 100px;
}
.navbar-brand {
    .logo-small {
    margin-top: -20px;
    }
}

h1 {
    text-align: center;
}
@media (max-width: 991px) {
    h1 {
	font-size: 800%;
    }
    .btn {
	font-size: 500%;
	height: 128px;
    }
    .form-control {
	font-size: 500%;
	height: 128px;
    }
}
