// Place all the styles related to the transfers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.transfer {
    margin-left: 0px;
    margin-right: 0px;
    .avatar {
	margin-right: 10px;
    }
    .content {
	margin-left: 80px;
    }
    .close:hover {
	color: red;
    }
    .close {
	color: red;
	border-width: 0;
	background-color: transparent;
    }
    .transfer-actions {
	form {
	    display: inline-block;
	    padding: 5px 10px 5px 0px ;
	}
    }
}
.transfer.bg-cancel {
    .amount {
	text-decoration: line-through;
    }
}
